<div class="footer">
    <h1>
        @majumdars. All Rights Reserved
    </h1>
    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="/users/profile/<%= locals.id %>">
                Profile
            </a>
        </li>
    </ul>
</div>