.footer {
  background-color: grey;
  height: 4rem;
  display: flex;
  align-items: center;
  color: white;
  margin-top: 100vh; }
  .footer h1 {
    margin-left: 1rem;
    font-size: 1.1rem; }
  .footer ul li {
    list-style: none; }
    .footer ul li a {
      text-decoration: none;
      color: inherit; }
